@model PlayerDetailsModel
@{
    ViewData["Title"] = "Player Overview";
}

<div>
    <h1>Player: @Model.Player.Name</h1>
</div>

<div>
    <h3>Overall stats:</h3>
    <p>Tournaments participated in: @Model.OverallStatics.TournamentParticipatedIn</p>
    <p>Matches participated in: @Model.OverallStatics.MatchesParticipatedIn</p>

    <p>Win Ratio: @Model.OverallStatics.MatchWinRatioPercentage</p>
    <p>Draw Ratio: @Model.OverallStatics.MatchWinRatioPercentage</p>
</div>

